body{
    background-color: #333;
    color: whitesmoke;
}

h1{
    background-color: royalblue;
}

#show_sketch{
    float: right;
    margin: 2.5px;
}

.btn-secondary{
    color: #333;
}

p{
    font-size: 20px;
}

#doyou{
    color: red;
}

#score{
    float: left;
}

#time{
    float: right;
}

#time,#score{
    margin: 50px;
    font-size: 25px;
}

canvas{
    margin-top: 100px;
    border-radius: 40px;
    border: royalblue solid 3px;
}
